body{
    background-image: url("photo.jpg");
    background-size: cover;
}
#heading{
    font-size: 300%;
    font-family: Georgia;
    text-decoration: underline;
    font-weight: 400;
    color: rgb(144, 127, 255);
}
#text{
    font-size: 150%;
    font-family: Cambria;
}
